@{
    ViewData["Title"] = "Каталог Пива";
}



<div class="text-center">
    <h1 class="display-4">Добро пожаловать в мир пива!</h1>
    <p>8 вопросов</p>
    <h2>Какое пиво вам подходит по характеру?</h2>
    <h6>Пройдите тест и узнайте, какой сорт пива вам стоит попробовать и с какими блюдами его сочетать.</h6>
    <button class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="CharacterBeer">Начать</a>
    </button>

    
</div>
